.footer
{
    display: flex;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT29ZL7nRB6dFMI1-iqQx9ttniYifCeaszTBqDdlbd_QMHyaATVuXRid9zo667kodiJ6rQ&usqp=CAU') no-repeat;
    margin-top: 80px;
    justify-content: space-between;
    background-size: 100% 100%;
}